<div>
    <div class="d-flex">
        <div class="w-50">
            <p><b>Usuario:</b> {{username}} </p>
            <p><b>Email:</b> {{email}} </p>
        </div>
        <div class="d-grid w-50 justify-content-end">
            <div>
                <button class="btn btn-success" type="button"><i class="fa fa-save"></i> Guardar</button>
            </div>
            <div>
                <button class="btn btn-danger" type="button"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
    <div>
        <div class="h4">
            Actualizar roles
        </div>
        <!-- contenedor de las tablas de perfil -->
        <div>
            <!-- tabla de roles asignados -->
            <div></div>
            <!-- tabla de roles del sistema -->
             <div></div>
        </div>
    </div>
</div>