<form [formGroup]="frmCarRx">
    <div>
        <label for="marcaid">Marca</label>
        <input class="form-control" formControlName="marca" type="text" name="marcaname" id="marcaid">
        <div class="alert alert-warning"
            *ngIf="frmCarRx.get('marca')?.touched && frmCarRx.get('marca')?.errors?.['required']">
            La marca no puede estar vacía
        </div>
        <div class="alert alert-warning" *ngIf="frmCarRx.get('marca')?.errors?.['minlength']">
            La marca debe tener al menos 10 digitos
        </div>
    </div>
</form>