<div>
    <div class="h2">
        Lista de pa&iacute;ses registrados
    </div>
    <div>
        <table class="table">
            <thead>
                <th>#</th>
                <th>Pa&iacute;s</th>
                <th>Acr&oacute;nimo</th>
                <th>C&oacute;digo de pa&iacute;s</th>
                <th>Continente</th>
            </thead>
            <tbody>
                <ng-template>
                    <!-- Cargando: cuando el componente aún no haya cargado la información de los países -->
                </ng-template>
                <ng-template>
                    <!-- Cargado - Con datos: Cuando el componente tiene información -->
                </ng-template>
                <ng-template>
                    <!-- Vacío: Cuando no existen datos para mostrar -->
                </ng-template>
            </tbody>
        </table>
    </div>
</div>
